/* general style */
*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
}

.overflow{
    overflow: hidden;
    position: relative;
}

.container-besar{
    display: grid;
    grid-template-areas: 'container' 'footer';
    grid-template-rows: 95vh 5vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 16.67vw);
    grid-template-rows: repeat(4, 23.75vh);
    grid-gap: 0;
    justify-items: center;
    align-items: center;
}

.image{
    width: 11vw;
    height: 11vw;
    background-size: 100%;
}

.img{
    width: 16.67vw;
    height: 23.75vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

a{
    text-decoration: none;
}

.btn{
    width: 33.34vw;
    height: 23.75vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.75vw;
}

.footer{
    grid-area: footer;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-items: end;
}

.footer a{
    color: white;
    margin-right: 3vw;
}
/* end of general style */

/* home */
.container.container-home {
    grid-area: container;
    grid-template-areas: 
        'img1 img2 title title profile profile'
        'experience experience title title img3 img4'
        'img5 img6 img7 img8 portfolio portfolio'
        'contact contact img9 img10 img11 img12';
}

.container.container-home .filter{
    position: absolute;
    height: 95vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    z-index: -999;
}

/* home title */
.container-home .title{
    grid-area: title;
    width: 33.34vw;
    height: 47.5vh;
    background-color: #33504c;
    display: grid;
    justify-items: center;
    align-items: center;
}

.container-home .title span{
    padding-left: 5.6vw;
    box-sizing: border-box;
    color: #fabe50;
}

.container-home .title span h1{
    font-size: 6vw;
}

.container-home .title span p{
    font-size: 2.5vw;
}
/* end of home title */

/* home btn */
.container-home .portfolio{
    grid-area: portfolio;
    background-color: #253374;
    color: #e8543a;
}

.container-home .experience{
    grid-area: experience;
    background-color: #fabe50;
    color: #253374;
}

.container-home .profile{
    grid-area: profile;
    background-color: #efc8c9;
    color: #253374;
}

.container-home .contact{
    grid-area: contact;
    background-color: #e8543a;
    color: #33504c;
}
/* end of home button */

/* home img */
.container-home .img-1{
    grid-area: img1;
    background-color: #33504c;
}

.container-home .img-1 .image{
    background-image: url('../../portofolio/img/philo/43.png');
}

.container-home .img-2{
    grid-area: img2;
    background-color: #e8543a;
}

.container-home .img-2 .image{
    background-image: url('../../portofolio/img/philo/38.png');
}

.container-home .img-3{
    grid-area: img3;
    background-color: #e8543a;
}

.container-home .img-3 .image{
    background-image: url('../../portofolio/img/philo/28.png');
}

.container-home .img-4{
    grid-area: img4;
    background-color: #fabe50;
}

.container-home .img-4 .image{
    background-image: url('../../portofolio/img/philo/36.png');
}

.container-home .img-5{
    grid-area: img5;
    background-color: #efc8c9;
}

.container-home .img-5 .image{
    background-image: url('../../portofolio/img/philo/16.png');
}

.container-home .img-6{
    grid-area: img6;
    background-color: #33504c;
}

.container-home .img-6 .image{
    background-image: url('../../portofolio/img/philo/31.png');
}

.container-home .img-7{
    grid-area: img7;
    background-color: #ff8c00;
}

.container-home .img-7 .image{
    background-image: url('../../portofolio/img/philo/21.png');
}

.container-home .img-8{
    grid-area: img8;
    background-color: #efc8c9;
}

.container-home .img-8 .image{
    background-image: url('../../portofolio/img/philo/42.png');
}

.container-home .img-9{
    grid-area: img9;
    background-color: #253374;
}

.container-home .img-9 .image{
    background-image: url('../../portofolio/img/philo/24.png');
}

.container-home .img-10{
    grid-area: img10;
    background-color: #e8543a;
}

.container-home .img-10 .image{
    background-image: url('../../portofolio/img/philo/17.png');
}

.container-home .img-11{
    grid-area: img11;
    background-color: #33504c;
}

.container-home .img-11 .image{
    background-image: url('../../portofolio/img/philo/41.png');
}

.container-home .img-12{
    grid-area: img12;
    background-color: #ff8c00;
}

.container-home .img-12 .image{
    background-image: url('../../portofolio/img/philo/22.png');
}
/* end of home img */
/* end of home */