/* VARIABLE CSS */
:root{
    --header-height: 3rem;
    --font-semi: 600;
}

/* WARNA */
:root{
    --first-color: #4070F4;
    --second-color: #0E2431;
}

/* TIPOGRAFI */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 3rem;
        --normal-font-size: 1rem;
    }
}

/* MARGIN */
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/* Z-INDEX */
:root{
    --z-back: -10;
    --z-normal: -1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* BASE */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* CLASS CSS */
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.8rem;
    background-color: var(--first-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* LAYOUT */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/* NAV */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: #ffffff;
}
.nav__link:hover{
    position: relative;
}
.nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
.nav__logo{
    color: var(--second-color);
}
.nav__toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* ACTIVE MENU */
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* SHOW MENU */
.show{
    right: 0;
}

/* BERANDA */
.beranda{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}
.beranda__data{
    align-self: center;
}
.beranda__title{
    font-size: 2.4rem;
    margin-bottom: var(--mb-5);
}
.beranda__title-color{
    color: var(--first-color);
}
.beranda__sosial{
    display: flex;
    flex-direction: column;
}
.beranda__sosial-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}
.beranda__sosial-icon:hover{
    color: var(--first-color);
}
.beranda__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 285px;
}

/* BUTTON */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #ffffff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}
.button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* TENTANG */
.tentang__container{
    row-gap: 2rem;
    text-align: center;
}
.tentang__subtitle{
    margin-bottom: var(--mb-2);
}
.tentang__img{
    justify-self: center;
}
.tentang__img img{
    width: 300px;
    border-radius: .1rem;
}

/* PENDIDIKAN */
.pendidikan__container{
    row-gap: 1rem;
}
.pendidikan__content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}
.pendidikan__tahun{
    font-size: var(--normal-font-size);
    margin-top: .75rem;
    margin-bottom: 0;
}
.pendidikan__keterangan{
    margin-top: .75rem;
    font-size: .9rem;
}
.pendidikan__nama{
    display: block;
    font-size: .85rem;
}
.pendidikan__tahun, .pendidikan__nama{
    text-align: right;
}
.pendidikan__time{
    padding: 0 1rem;
    justify-self: center;
}
.pendidikan__rounder{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--first-color);
    border-radius: 50%;
    margin-top: 1.15rem;
}
.pendidikan__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 18px;
    height: 18px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}
.pendidikan__line{
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(4px, -2px);
}

/* SERTIFIKASI KEAHLIAN */
.sertifikasi__container{
    row-gap: 2rem;
}
.sertifikasi__content{
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .3rem;
    text-align: center;
}
.sertifikasi__icon{
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: #ffffff;
    border-radius: 50%;
    margin-bottom: 0;
}
.sertifikasi__title{
    font-size: 1.25rem;
    margin-bottom: var(--mb-1);
}
.sertifikasi__content, .sertifikasi__icon, .sertifikasi__description, .sertifikasi__title{
    transition:.5s;
}
.sertifikasi__content:hover{
    background-color: var(--first-color);
}
.sertifikasi__content:hover .sertifikasi__icon{
    background-color: #ffffff;
    color: var(--first-color);
}
.sertifikasi__content:hover .sertifikasi__title{
    color: #ffffff;
}
.sertifikasi__content:hover .sertifikasi__description{
    color: #ffffff;
}

/* PENGALAMAN */
.pengalaman__container{
    row-gap: 2rem;
}
.pengalaman__content{
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .3rem;
    text-align: center;
}
.pengalaman__icon{
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: #ffffff;
    border-radius: 50%;
    margin-bottom: 0;
}
.pengalaman__title{
    font-size: 1.25rem;
    margin-bottom: var(--mb-1);
}
.pengalaman__content, .pengalaman__icon, .pengalaman__description, .pengalaman__title{
    transition:.5s;
}
.pengalaman__content:hover{
    background-color: var(--first-color);
}
.pengalaman__content:hover .pengalaman__icon{
    background-color: #ffffff;
    color: var(--first-color);
}
.pengalaman__content:hover .pengalaman__title{
    color: #ffffff;
}
.pengalaman__content:hover .pengalaman__description{
    color: #ffffff;
}

/* SERTIFIKAT */
.sertifikat__container{
    row-gap: 2rem;
}
.sertifikat__content{
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .3rem;
    text-align: center;
}
.sertifikat__icon{
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: #ffffff;
    border-radius: 50%;
    margin-bottom: var(--mb-3);
}
.sertifikat__title{
    font-size: 1rem;
    margin-bottom: var(--mb-1);
}
.sertifikat__content, .sertifikat__icon, .sertifikat__title{
    transition:.5s;
}
.sertifikat__content:hover{
    background-color: var(--first-color);
}
.sertifikat__content:hover .sertifikat__icon{
    background-color: #ffffff;
    color: var(--first-color);
}
.sertifikat__content:hover .sertifikat__title{
    color: #ffffff;
}

/* KEAHLIAN */
.keahlian__container{
    row-gap: 2rem;
    text-align: center;
}
.keahlian__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: 0;
    border-radius: .2rem;
    box-shadow: 0 3px 5px rgba(14,36,49,.15);
}
.keahlian__icon{
    font-size: 1.5rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}
.keahlian__nama2{
    display: flex;
    align-items: center;
}
.keahlian__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}
.keahlian__ms{
    width: 80%;
}
.keahlian__php{
    width: 40%;
}
.keahlian__uml{
    width: 60%;
}
.keahlian__photoshop{
    width: 50%;
}
.keahlian__illustrator{
    width: 35%;
}