body{
    margin: 0;
    font-family: 'century gothic';
    background-color: black;
    width: cover;
    height: cover;
}

img{
    height: 50px;
    width: 50px;
}

.container{
    padding: 150px 0px;
}

.container .nama{
    width: 50%;
    margin: auto;
    position: relative;
    top: 17%;
}

.nama h1,
.nama p{
    color: white;
    margin: 0;
    text-align: center;
}

.nama h1{
    font-size: 11rem;
    text-align: center;
}

.nama p{
    font-size: 2rem;
    margin-top: -25px;
}

.perkenalan{
    width: t;
    margin-left: auto;
    margin-right: auto;
}

.perkenalan img{
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 50px;
}

.perkenalan .content{
    color: white;
    width: 300px;
}

.content h1{
    text-align: center;
}

.perkenalan .clear{
    clear: left;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }